---
import Hamburger from "./Hamburger.astro";

const links = [
  { href: '/', text: 'Home' },
  { href: '/estudio/', text: 'Estudio' },
  { href: '/proyectos/', text: 'Proyectos' },
  { href: '/contacto/', text: 'Contacto' },
];

const currentPath = Astro.url.pathname;
const { class: className } = Astro.props;

---
<header class={className} >
  <div class="row">

    <a href="/" class="logo" title="CS arquitectura">
      <svg class="logo-svg"width="42" height="50" viewBox="0 0 42 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M21.1172 49.0699V1.00699" stroke="white"/>
        <path d="M21.1194 33.7942H1M1 33.7942V15.1651C1 15.1651 5.84356 1.37961 21.1194 1.00703C33.3401 0.708962 39.0033 9.94898 40.8662 18.1458V49.07H1V33.7942Z" stroke="white"/>
      </svg>

      <span class="logo-text">CS Arquitectura</span>
    </a>

    <div class="header-right hide-mobile">

      <nav >

        {
          links.map(({ href, text }) => (
            <div>


              {
                  (currentPath === href || (href === '/proyectos/' && currentPath.startsWith('/proyectos/'))) ? (


                  <a href={href} class="nav-a active">
                    {text}
                  </a>
                  <div
                    transition:name="menu-line"
                    class="navline active"
                  />
                ) : (
                 <a href={href} class="nav-a">
                    {text}
                  </a>
                  <div class="navline" />
                )
              }
              {/* <div class="border-b-2 border-blue-500 mx-4" /> */}
            </div>
          ))
        }

      </nav>

      <a href="https://docs.google.com/forms/d/1Y2iOTg5PdUz4IUecq2LxIk8XFKfvmcMRzRZ_SaVLEtg/viewform?fbclid=PAZXh0bgNhZW0CMTEAAaZsD0xcidkVe6R_G9msWLb3_Q11yHuWWTC58BMOfmdkDvBb23g22TElYFU_aem_OYF7KxGs1Y4z9pRBbJKsfw&edit_requested=true" target="_blank" class="btn-primary" title="Presupuesto">
      <span>Presupuesto</span>
      </a>
    </div>

    <div id="menu-toggle" class="hamburger hide-desktop">

      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>

    </div>
  </div>

</header>


<nav id="offcanvas-menu" class="offcanvas-menu">
  <ul>

    {
      links.map(({ href, text }) => (
        <li>


          {
              (currentPath === href || (href === '/proyectos/' && currentPath.startsWith('/proyectos/'))) ? (


              <a href={href} class="nav-a active">
                {text}
              </a>
              <div
                transition:name="menu-line"
                class="navline active"
              />
            ) : (
             <a href={href} class="nav-a">
                {text}
              </a>
              <div class="navline" />
            )
          }
          {/* <div class="border-b-2 border-blue-500 mx-4" /> */}
        </li>
      ))
    }
  </ul>
</nav>

<div class="overlay" id="overlay"></div>


<style>

  .hamburger {

    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  .line {
    background-color: #000;
    display: block;
    width: 27px;
    height: 1px;
  }
  .header{
    padding: 35px 0;
    position: fixed;
    width: 100%;
    z-index: 90;
  }
  .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-right {
    display: none;
  }

  .logo-svg{
    height: 35px;
    width: auto;
  }
  .logo{
    display: flex;
    align-items: center;
    gap: 10px;

    path {
      stroke: black;
    }
  }
  .logo-text{
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    /* margin: 2px 0 0; */
  }

  .header-home{
    color: white;
    path{
      stroke: white;
    }
    .hamburger {
      .line{
        background: #fff;
      }
    }
  }
  .header-before{
    background: white;
    color: black;
    padding: 10px 0;
    box-shadow: 0px 2px 7px rgb(0 0 0 / 20%);
    path{
      stroke: black;
    }
  }
  .header-before {
    .hamburger {
      .line{
        background: black;
      }
    }

    .line{
      background: #000;
    }
  }
  .invert{


    .logo{
      path{
        stroke: white;
      }
    }
    .btn-primary {
      background: white;
      color: black;
      span{
        color: black;
      }
    }
  }




/* Off-canvas menu styling */
.offcanvas-menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    background-color: #333;
    padding: 2rem;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1000;
}

.offcanvas-menu ul {
    list-style-type: none;
    padding: 0;
}

.offcanvas-menu ul li {
    margin: 1rem 0;
}

.offcanvas-menu ul li a {
    color: white;
      text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
}

/* Overlay background when the menu is open */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: none;
    transition: opacity 0.3s ease;
    z-index: 999;
}

/* Active state for the menu */
.menu-open.offcanvas-menu {
    display: block;
    opacity: 1;
}

.menu-open.overlay {
    display: block;
    opacity: 1;
}
.navline{
    width: 35px;
    height: 2px;
    background: transparent;
    margin: 5px 0 0;


    &.active{
      background: #B49F7F;

      }
    }


  .nav-a{
    transition: .2s all ease-out;
    &:not(.active):hover{
      color: #B49F7F;

      /* color: red; */
    }
  }

  @media screen and (min-width: 768px) {
    .hamburger {
      display: none;
    }
    .header-right {
      display: flex;
      gap: 25px;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.1em;
    }
    .logo-svg{
      height: 48px;
      width: auto;
    }
    .logo-text{
      font-size: 22px;
    }
    nav {
      gap: 25px;
      display: flex;
      align-items: center;
      margin: 7px 0 0;
    }

    .header-before{
      .logo-svg{
        height: 41px;
        padding: 5px 0;
        width: auto;
      }
  }

}

</style>



<script client:load >

window.addEventListener('load', () => {

  const menuToggle = document.getElementById('menu-toggle');
  const offcanvasMenu = document.getElementById('offcanvas-menu');
  const overlay = document.getElementById('overlay');

  menuToggle.addEventListener('click', () => {
    overlay.classList.toggle('menu-open');
    offcanvasMenu.classList.toggle('menu-open');
    document.body.classList.toggle('menu-open');
  });

  overlay.addEventListener('click', () => {
  overlay.classList.remove('menu-open');
    offcanvasMenu.classList.remove('menu-open');
    document.body.classList.remove('menu-open');
  });
});




</script>