---
import { siteLinks } from "src/data/site.config";


const currentPath = Astro.url.pathname;
const { class: className } = Astro.props;

---
<header class={className} >
  <div class="row">

    <a href="/" class="logo" title="CS arquitectura">
      <!-- <svg class="logo-svg"width="42" height="50" viewBox="0 0 42 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M21.1172 49.0699V1.00699" stroke="white"/>
        <path d="M21.1194 33.7942H1M1 33.7942V15.1651C1 15.1651 5.84356 1.37961 21.1194 1.00703C33.3401 0.708962 39.0033 9.94898 40.8662 18.1458V49.07H1V33.7942Z" stroke="white"/>
      </svg> -->

      <svg class="logo-svg" width="42" height="50" viewBox="0 0 42 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M21.1172 49.0699V1.00699" stroke="white" stroke-width="1.5"/>
        <path d="M21.1194 33.7942H1M1 33.7942V15.1651C1 15.1651 5.84356 1.37961 21.1194 1.00703C33.3401 0.708962 39.0033 9.94898 40.8662 18.1458V49.07H1V33.7942Z" stroke="white" stroke-width="1.5"/>
        </svg>


      <span class="logo-text">CS Arquitectura</span>
    </a>

    <div class="header-right hide-mobile">

      <nav >

        {
          siteLinks.map(({ href, text }) => (
            <div>


              {
                  (currentPath === href || (href === '/proyectos/' && currentPath.startsWith('/proyectos/'))) ? (


                  <a href={href} class="nav-a active">
                    {text}
                  </a>
                  <div
                    transition:name="menu-line"
                    class="navline active"
                  />
                ) : (
                 <a href={href} class="nav-a">
                    {text}
                  </a>
                  <div class="navline" />
                )
              }
            </div>
          ))
        }

      </nav>

      <a href="https://docs.google.com/forms/d/1Y2iOTg5PdUz4IUecq2LxIk8XFKfvmcMRzRZ_SaVLEtg/viewform?fbclid=PAZXh0bgNhZW0CMTEAAaZsD0xcidkVe6R_G9msWLb3_Q11yHuWWTC58BMOfmdkDvBb23g22TElYFU_aem_OYF7KxGs1Y4z9pRBbJKsfw&edit_requested=true" target="_blank" class="btn-primary" title="Presupuesto">
      <span>Presupuesto</span>
      </a>
    </div>


  <button id="menu-toggle" class="burger hamburger hide-desktop" aria-label="Toggle Menu">

    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
    </button>

  </div>

</header>


<nav id="offcanvas-menu" class="offcanvas-menu">
  <ul>

    {
      siteLinks.map(({ href, text }, index) => (
        <li style={`--menu-item: ${index}; `}>


          {
              (currentPath === href || (href === '/proyectos/' && currentPath.startsWith('/proyectos/'))) ? (


              <a href={href} class="nav-a active">
                {text}
              </a>
              <div

                class="navline active"
              />
            ) : (
             <a href={href} class="nav-a">
                {text}
              </a>
              <div class="navline" />
            )
          }
          {/* <div class="border-b-2 border-blue-500 mx-4" /> */}
        </li>
      ))
    }
  </ul>
</nav>

<!-- <div class="overlay" id="overlay"></div> -->


<style>



/* From Uiverse.io by Cevorob */
.burger {
  position: relative;
  width: 30px;
  height: 20px;
  background: transparent;
  cursor: pointer;
  display: block;
  border: 0;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.menu-open .burger span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.menu-open .burger span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.menu-open .burger span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 22px;
  left: 5px;
}

  .hamburger {

    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  .line {
    background-color: #000;
    display: block;
    width: 27px;
    height: 1px;
  }
  .header{
    padding: 35px 0;
    position: fixed;
    width: 100%;
    z-index: 90;
  }
  .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-right {
    display: none;
  }

  .logo-svg{
    height: 35px;
    width: auto;
  }
  .logo{
    display: flex;
    align-items: center;
    gap: 10px;

    path {
      stroke: black;
    }
  }
  .logo-text{
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    /* margin: 2px 0 0; */
  }

  .header-home{
    color: white;
    path{
      stroke: white;
    }
    .hamburger {
      .line{
        background: #fff;
      }
    }
  }
  .header-before{
    background: white;
    color: black;
    padding: 10px 0;
    box-shadow: 0px 2px 7px rgb(0 0 0 / 20%);
    path{
      stroke: black;
    }
  }
  .header-before {
    .burger {
      .line{
        background: black;
      }
    }

    .line{
      background: #000;
    }
  }
  .invert{

    .burger {
      .line{
        background: white;
      }
    }
    .logo{
      path{
        stroke: white;
      }
    }
    .btn-primary {
      background: white;
      color: black;
      span{
        color: black;
      }
    }
  }




/* Off-canvas menu styling */
.offcanvas-menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #333;
    padding: 2rem;
    pointer-events: none;
    /* display: none; */
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 9;
    box-sizing: border-box;
    justify-content: end;
    display: flex;
    flex-direction: column;
}

.offcanvas-menu ul {
    list-style-type: none;
    padding: 0;
}

.offcanvas-menu ul li {
  margin: 20px 0 0;
  --easing: cubic-bezier(0.4, 0, 0.2, 1);
    --wait-until-start: 0.15s;
    --time-between: 50ms;
    --anim-len: 1s;
    transition: transform 0s var(--nav-open-len), opacity 0s var(--nav-open-len);
    transform: translateX(-5em);
    opacity: 0;
}

.offcanvas-menu ul li a {
    color: white;
      text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 19px;
    line-height: 17px;
    letter-spacing: 0.1em;
}

/* Overlay background when the menu is open */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: none;
    transition: opacity 0.3s ease;
    z-index: 999;
}

/* Active state for the menu */
.menu-open.offcanvas-menu {
    /* display: block; */
    pointer-events: visible;
    opacity: 1;
}
.menu-open.header{
  position: fixed !important;
  top: 0px !important;
  background:transparent;
  box-shadow: inherit;
  color: white;

  path {
    stroke: white;
  }
  & .burger {
    .line {
        background: white;
    }
  }
}
.menu-open.offcanvas-menu ul li {
    transition: transform var(--anim-len) calc(var(--menu-item)* var(--time-between) + var(--wait-until-start)) var(--easing), opacity var(--anim-len) calc(var(--menu-item)* var(--time-between) + var(--wait-until-start)) var(--easing);
    transform: translateX(0px);
    opacity: 1;
}

.menu-open.overlay {
    display: block;
    opacity: 1;
}
.navline{
    width: 35px;
    height: 2px;
    background: transparent;
    margin: 5px 0 0;


    &.active{
      background: #B49F7F;

      }
    }


  .nav-a{
    transition: .2s all ease-out;
    &:not(.active):hover{
      color: #B49F7F;

      /* color: red; */
    }
  }

  @media screen and (min-width: 768px) {
    .burger {
      display: none;
    }
    .header-right {
      display: flex;
      gap: 25px;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.1em;
    }
    .logo-svg{
      height: 48px;
      width: auto;
    }
    .logo-text{
      font-size: 22px;
    }
    nav {
      gap: 25px;
      display: flex;
      align-items: center;
      margin: 7px 0 0;
    }

    .header-before{
      .logo-svg{
        height: 41px;
        padding: 5px 0;
        width: auto;
      }
  }

}

</style>


