---
import { Image } from "astro:assets";
import Image1 from '../../../assets/images/clientes/sample1.jpg'
import Image2 from '../../../assets/images/clientes/sample2.jpg'
---



<div class="clientes" >
  <div class="row">
    <h2>Clientes</h2>
    <!-- {cardsData.map((card, index) => (
      <ProposalCard num={index + 1} text={card.text} title={card.title} />
    ))} -->
    <div class="grid">
      <div class="col first">
        <div class="item">
          <a href="#" title="Proyecto">
            <figure>
              <Image
                class="img"
                src={Image1}
                width={Image1.width / 2}
                densities={[1.5, 2]}
                alt="Somos un estudio de arquitectura"
              />

              <span class="caption">Quintessa Estate  <span>CALIFORNIA</span></span>
            </figure>
          </a>
        </div>
        <div class="item">
          <a href="#" title="Proyecto">
            <figure>
              <Image class="img" src={Image2} alt="Somos un estudio de arquitectura." width={Image2.width / 2}
              densities={[1.5, 2]}/>
              <span class="caption">Quintessa Estate  <span>CALIFORNIA</span></span>
            </figure>
          </a>
        </div>
      </div>
      <div class="col second">
        <div class="item">
          <a href="#" title="Proyecto">
            <figure>
              <Image class="img" src={Image2} alt="Somos un estudio de arquitectura." width={Image2.width / 2}
              densities={[1.5, 2]}/>
              <span class="caption">Quintessa Estate  <span>CALIFORNIA</span></span>
            </figure>
          </a>
        </div>
        <div class="item">
          <a href="#" title="Proyecto">
            <figure>
              <Image class="img" src={Image1}
              width={Image1.width / 2}
              densities={[1.5, 2]}
              alt="Somos un estudio de arquitectura"/>
              <span class="caption">Quintessa Estate  <span>CALIFORNIA</span></span>
            </figure>
          </a>
        </div>
      </div>
    </div>

    <div class="clientes_footer">
      <a href="/presupuesto" class="btn-primary" title="ir a Proyectos">ir a Proyectos</a>
    </div>

  </div>
</div>

<style>

  h2{
    font-weight: 300;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: -0.03em;
    color: #000;
  }
  .clientes_footer{
    text-align: center;
    display: flex;
    padding: 30px 0;
  }
  .btn-primary{
    margin: 0 auto;
  }

  .caption{
    color: white;
    font-weight: 300;
    font-size: 17px;
    bottom: 12px;
    left: 12px;
    /* letter-spacing: -0.03em; */
    span{
      font-size: 11px;
      letter-spacing: 0.12em;
    }
  }
  .grid{
      display: flex;
      gap: 20px;
      flex-direction: column;
      justify-content: center;
    }
  figure{
      position: relative;
      display: flex;
      &::before{
        content: '';
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.45) 0%, rgba(217, 217, 217, 0) 25.05%);
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }
    }
    .caption{
      position: absolute;
    }
    .col{
      gap: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    img{
      max-width: 100%;
      height: auto;
    }

  @media screen and (max-width: 768px) {
    img{
      max-width: 100%;
      height: 280px;
      object-fit: cover;
    }
  }
  @media screen and (min-width: 768px) {

    .grid{
      flex-direction: row;
    }
    h2{
      font-size: 32px;
      line-height: 39px;
      margin-bottom: 40px;
    }

    .first{
      align-items: flex-end;
    }
    .second{
      align-items: start;
    }

    .clientes_footer {
      a {
        margin: 40px auto;
      }
    }

  }
</style>